body {
  font-family: "Assistant", sans-serif;
}

.card-outline {
  display: block;
  margin: 30px auto;
  max-width: 800px;
  background-color: #fffcfc;
}

.current-weather {
  font-size: 28px;
  font-weight: bolder;
  color: #1b4965;
}

.search-button {
  background-color: #1976d2;
  color: white;
}

.search-button:hover {
  background-color: #1b4965;
  color: white;
}

.current-location-button {
  background-color: #1b4965;
  color: white;
  font-size: 10px;
}

.current-location-button:hover {
  background-color: #1976d2;
  color: white;
}
.city-name {
  color: #1976d2;
  font-size: 45px;
  font-weight: 500;
  text-align: left;
}

.temp-format {
  color: #1b4965;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  position: relative;
  top: 30px;
  left: -140px;
}

.celsius {
  padding: 1px 10px 1px 7px;
  margin: 3px;
  color: #1b4965;
  border-color: #1b4965;
}

.temp-format .inactive {
  background-color: #1b4965;
  border-color: #fff;
  color: #fff;
}

.temp-format .inactive:hover {
  cursor: default;
}

.fahrenheit {
  padding: 1px 10px 1px 7px;
  margin: 3px;
  color: #1b4965;
  border-color: #1b4965;
}

.date {
  color: #353535;
  font-size: 16px;
  font-weight: 300;
}

.conditions,
.wind-precipitation {
  color: #353535;
  font-size: 16px;
  font-weight: 300;
}

.conditions {
  text-transform: capitalize;
}

.temp-display {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
  color: #1b4965;
}

.wind-precipitation {
  text-align: left;
}

.week-forecast {
  text-align: center;
  font-weight: 600;
  color: #353535;
}

.forecast-date {
  color: #353535;
}

#weather-icon {
  text-align: center;
  width: 70px;
}

.forecast-temperatures {
  opacity: 0.9;
}

.forecast-temperature-max {
  padding-right: 7px;
}

.link-to-github {
  color: #1b4965;
}

.link-to-github:hover {
  color: #1976d2;
}

footer {
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  font-size: 15px;
  font-style: italic;
  text-align: center;
}
